.DS_Store
/build/
/out/
/.vs/
/.vscode/settings.json
/Debug
CMakeSettings.json
external
third-party/runtime-libs
third-party/build-libs
third-party/include/cargs.h
third-party/include/libserialport.h
third-party/include/sockpp
